<div class="wrapperContianerInner">
<section class="progressbar">
  <div class="barCont">
       <div class="blueBar"  [attr.style]="value"></div>
  </div>
  <div class="progressTxt">{{progress}}% completed</div>

</section>

    <div class="pageTitle">{{pageObject.descr1}}</div>
    <div class="tblContent multipleSelectCont" *ngIf="pageObject.type=='multipleSelect'">
      <table>
        <tr *ngFor="let item of pageObject.qustions ; let g = index" align="right">
          <td *ngFor="let option of item.options ; let h = index">
            <label>{{option.text}}</label>
            <mat-checkbox [(ngModel)]="option.checked" [value]="option.text"></mat-checkbox>
          </td>
        </tr>
      </table>
    </div>
    <div class="tblContent contentAlign90x10" *ngIf="pageObject.type=='select'">
      <table *ngFor="let item of pageObject.qustions ; let g = index">
        <tr *ngFor="let option of item.options ; let h = index">
          <td align="left">
            <label>{{option.text}}</label>
          </td>
          <td align="left">
            <mat-checkbox [(ngModel)]="option.checked" [value]="option.text"></mat-checkbox>
          </td>
        </tr>
      </table>
    </div>
    <div class="tblContent toggleBtnGroupPage2" *ngIf="pageObject.type=='copd'">
        <table>
          <tbody>
            <tr *ngFor="let item of pageObject.qustions ; let g = index">
              <td>{{item.text}}</td>
              <td>
                <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="item.answer_text">
                  <div class="checkBoxAssesment" *ngFor="let option of item.options ; let h = index">
                    <mat-button-toggle [value]="option.score">{{option.score}}
                    </mat-button-toggle>
                    <br/>
                    <div class="dashbar"></div>
                    <div class="txtAssesment">{{option.text}}</div>
                  </div>
                </mat-button-toggle-group>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <div class="tblContent toggleBtnGroupPage2" *ngIf="pageObject.type=='multiple'">
      <table>
        <tbody>
          <tr *ngFor="let item of pageObject.qustions ; let g = index">
            <td>{{item.text}}</td>
            <td>
              <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="item.answer_text">
                <div class="checkBoxAssesment" *ngFor="let option of item.options ; let h = index">
                  <mat-button-toggle [value]="option.score">{{option.score}}
                  </mat-button-toggle>
                  <br/>
                  <div class="txtAssesment">{{option.text}}</div>
                </div>
              </mat-button-toggle-group>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="pageObject.type=='single'">
      <div *ngFor="let item of pageObject.qustions ; let g = index">

        <div class="subHeading">
          {{item.text}}
        </div>

        <div class="tblContent contentAlign90x10">
          <mat-radio-group [(ngModel)]="item.answer_text">
            <table>
              <tr *ngFor="let option of item.options ; let h = index">
                <td>{{option.text}}</td>
                <td>
                  <mat-radio-button [value]="option.text">
                  </mat-radio-button>
                </td>
              </tr>
            </table>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="mix-toggleBtnGroup" *ngIf="pageObject.type=='mix'">
      <table>
               <tbody>
          <tr *ngFor="let item of pageObject.qustions ; let g = index" [attr.id]="g" [ngClass]="getCSSClasses(g)">
            <td>{{item.text}}</td>
            <td>
              <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="item.answer_text">
                <div *ngFor="let option of item.options ; let h = index">
                  <mat-button-toggle [name]="g" [value]="option.text">{{option.text}}
                  </mat-button-toggle>
                  <br/>
                </div>
              </mat-button-toggle-group>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="toggleBtnGroup" *ngIf="pageObject.type=='allComponent'">
      <table>
      <tbody>
          <tr *ngFor="let item of pageObject.qustions ; let g = index" [attr.id]="g" [ngClass]="getCSSClasses(g)">
            <td>{{item.text}}</td>
            <td>
              <mat-button-toggle-group [(ngModel)]="item.answer_text" *ngIf ="!item.controlType; else yearControl">
                <div class="btn-toggle" *ngFor="let option of item.options ; let h = index">
                  <mat-button-toggle [name]="g" [value]="option.text">{{option.text}}
                  </mat-button-toggle>
                  <br/>
                </div>
              </mat-button-toggle-group>
              <ng-template #yearControl>
                  If isValid is false
              </ng-template>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  <app-navigate [pageObject]="pageObject"></app-navigate>

</div>