<div class="wrapperContianer">
    
    <div class="contentArea">
      <div class="leftContent">
        <div class="titleTxt">Follow Up Patient Questionnaire for {{name}}</div>
        <div class="bodyTxt">
            Hello {{name}},<br/><br/>
            Thank you for choosing Sutter Health Pulmonology Group!
            <br/><br/>
            
            We are interested in your hearing about your health, wellbeing, and symptoms of your pulmonary condition.
            <br/><br/>
    
            If you can’t or don’t want to answer any question, simply tap the “Continue” button. Your provider will discuss your responses during your visit with us today.
            <br/><br/>
    
            Please let your provider know if you’ve been seen by a non Sutter providers.
            <br/><br/>           
        </div>    
      </div>
      <div class="rightContent">
          <div class="titleTxt alignRight"> Sutter Health Pulmonology Group</div>          
          <img class="imgRes" src="/../assets/images/pulmonology-img.jpg" alt="Sutter Health Pulmonology Group" />
      </div>
    </div>
    
    <div class="btnContainer">
        <button mat-raised-button color="primary" class="btn-left">Exit </button>
          <button mat-raised-button color="primary" class="btn-right" (click)="next()">Continue </button>
    </div>
    </div>