<div class="wrapperContianer">
    
    <div class="contentArea">
      <div class="leftContent">
        <div class="bodyTxt">
                <br/><br/>  <br/><br/> 
            Thank you {{name}} for completing the New Patient Questionnaire.
            <br/><br/> 
            Please give the tablet to the medical assistant when called.
            <br/><br/> 
            Your provider will review the questionnaire results with you during your office visit today.
            
            <br/><br/>           
        </div>    
      </div>
      <div class="rightContent">
          <div class="titleTxt alignRight"> Sutter Health Pulmonology Group</div>          
          <img class="imgRes" src="/../assets/images/pulmonology-img.jpg" alt="Sutter Health Pulmonology Group" />
      </div>
    </div>
    
    <div class="btnContainer">
        <button mat-raised-button color="primary" class="btn-center" (click)="exit()" >Exit </button>
    </div>
    </div>