/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.loader-hidden{
    display: none;
}
.mat-radio-label{white-space:normal!important;}

@media only screen and (max-width: 1000px) {
    .navigate-sec button{
        margin-right: 0em!important; 
    }
}
body{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14pt;
    color: #000000;
    padding: 0px;
    margin: 0px;
}

.wrapperContianer{
    max-width: 980px;
    margin:auto;
    padding:20px;
    background-color: #ededed;
    border: solid 1px #d1d1d1;
    min-width: 350px;
}
.wrapperContianerInner{
    max-width: 980px;
    margin:auto;
    padding:20px;
    border: solid 1px #d1d1d1;
    min-width: 350px;
}
.contentArea{ display: flex;}
.contentArea .leftContent{ width: 50%;}
.contentArea .rightContent{ width: 50%; margin-left: 30px;}
.contentArea .rightContent .imgRes{
    max-width: 429px;
    width: 100%;
}
.contentArea .titleTxt{
    font-size: 18pt;
    margin-bottom: 60px;
    
}
.contentArea .alignRight{
    text-align: right;
}

.btnContainer{
    display: flex;
    flex-direction: row;
    padding: 40px 0px;
}
.btn-left{
    align-self: flex-start;
}

.btn-right{
    margin-left: auto!important;
}
.btnContainer .mat-raised-button.mat-primary{
    background-color: #6cb0db;
    font-size: 14pt;
}
.btnCont{
   display: flex;
}
.btnCont button{
    margin: 0px 10px;
    white-space:normal!important;
    
}
.btnCont .mat-raised-button.mat-primary{
    background-color: #6cb0db;
    font-size: 16pt;
}

.pageTitle{ background-color:#5b9bd5; color: #efefef; padding: 10px; text-align: center; font-size: 16pt; border: solid 1px #4984ba;
-webkit-border-radius: 2px; 
-moz-border-radius: 2px; 
border-radius: 2px;
margin-bottom: 60px;
}

.navigate-sec{
    display: flex;
    & > button {
      &:nth-of-type(2) {
        margin: auto;      
      }
      &:nth-of-type(3) {
        align-self: flex-end;
      }
    }
    .mat-raised-button.mat-primary{
        background-color: #6cb0db;
        font-size: 14pt;
    }
}
.tblContent{
    margin-bottom: 60px;
    border-top: solid 2px #5b9bd5;
    border-bottom: solid 2px #5b9bd5;
}
.tblContent table{width: 100%;  border-collapse: collapse;}
.tblContent td{padding: 10px;}
.tblContent tr:nth-child(even){
    background-color: #deebf7;
  }

.progressbar{
    background-color: #b2b2b2;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    height: 20px;
    width: 60%;
    margin: 0px auto 15px auto;
    position: relative;
    .progressTxt{
        font-size: 9pt;
        position: absolute; 
        width: 17%;
        right: 0px;
        line-height: 20px;
        white-space: nowrap;
        text-align: center;

    }
    .barCont{
        position: absolute; 
        width: 83%;
        left: 0px;
        height: 16px;
        padding: 2px;
        background-color: #e0e0e0;
        -webkit-border-radius: 10px; 
        -moz-border-radius: 10px; 
        border-radius: 10px;
        -webkit-box-shadow:inset 1px 1px 1px 1px #737373;
        box-shadow:inset 1px 1px 1px 1px #737373;
        .blueBar{
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
background: #87e0fd; /* Old browsers */
background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
            -webkit-border-radius: 10px; 
            -moz-border-radius: 10px; 
            border-radius: 10px;
            height: 16px;
        }
    }
}

.subHeading{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 17pt;
}


.toggleBtnGroup{
    margin-bottom: 60px;
    border-top: solid 2px #5b9bd5;
    border-bottom: solid 2px #5b9bd5;
}
.toggleBtnGroup table{width: 100%;  border-collapse: collapse;}
.toggleBtnGroup td{padding: 10px;}
.toggleBtnGroup td:nth-child(1){
    width: 250px;
}
.toggleBtnGroup .mat-button-toggle-group{
    box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,.0)!important;
    white-space:normal!important;
    
    
}

.toggleBtnGroup .mat-button-toggle{
    border:solid 1px #b8b7b7; margin-right: 5px; padding: 2px; background-color: #e5e5e5;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #000000;

}
.toggleBtnGroup .mat-button-toggle-label-content{
    font-size: 11pt;
    line-height: 31px;
}

.toggleBtnGroup .mat-button-toggle-checked{
    background-color: #5b9bd5;
    color: #fff!important;
}
.toggleBtnGroup tr:nth-child(even){
    background-color: #deebf7;
  }


  .mix-toggleBtnGroup{
    margin-bottom: 60px;
    border-top: solid 2px #5b9bd5;
    border-bottom: solid 2px #5b9bd5;
}
.mix-toggleBtnGroup table{width: 100%;  border-collapse: collapse;}
.mix-toggleBtnGroup td{padding: 10px;}
.mix-toggleBtnGroup td:nth-child(1){
    width: 50%;
}
.mix-toggleBtnGroup .mat-button-toggle-group{
    box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,.0)!important;
    white-space:normal!important; 
}

.mix-toggleBtnGroup .mat-button-toggle{
    border:solid 1px #b8b7b7; margin-right: 5px; padding: 2px; background-color: #e5e5e5;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #000000;

}
.mix-toggleBtnGroup .mat-button-toggle-label-content{
    font-size: 11pt;
    line-height: 31px;
}

.mix-toggleBtnGroup .mat-button-toggle-checked{
    background-color: #5b9bd5;
    color: #fff!important;
}
.mix-toggleBtnGroup tr:nth-child(even){
    background-color: #deebf7;
  }




  .toggleBtnGroupPage2{
    margin-bottom: 60px;
    border-top: solid 2px #5b9bd5;
    border-bottom: solid 2px #5b9bd5;
}
.toggleBtnGroupPage2 table{width: 100%;  border-collapse: collapse;}
.toggleBtnGroupPage2 td{padding: 10px;}
.toggleBtnGroupPage2 td:nth-child(1){
    width: 50%;
}
.toggleBtnGroupPage2 .mat-button-toggle-group{
    box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,.0)!important;
    white-space:normal!important; 
}

.toggleBtnGroupPage2 .mat-button-toggle{
    border:solid 1px #b8b7b7; margin-right: 45px; padding: 2px; background-color: #e5e5e5;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #000000;

}
.toggleBtnGroupPage2 .mat-button-toggle-label-content{
    font-size: 11pt;
    line-height: 31px;
}

.toggleBtnGroupPage2 .mat-button-toggle-checked{
    background-color: #5b9bd5;
    color: #fff!important;
}
.toggleBtnGroupPage2 tr:nth-child(even){
    background-color: #deebf7;
  }
  .toggleBtnGroupPage2 .checkBoxAssesment{ position: relative; padding-bottom: 40px;}
  .toggleBtnGroupPage2 .txtAssesment{font-size: 10pt; position: absolute;  line-height: 12pt;  width: 80px; bottom: 0px;}
 .toggleBtnGroupPage2 .checkBoxAssesment:nth-child(1) .txtAssesment{
        left: 0px;
    }
    .toggleBtnGroupPage2 .checkBoxAssesment:nth-child(5) .txtAssesment{
        right: 15px;
    }
    

  

.contentAlign90x10 td:nth-child(1){
    width: 95%;  
}
.dashbar{ width: 48px; height: 2px; background-color: #b2b2b2; position: absolute; right: 0px;top: 13px;}
.checkBoxAssesment:nth-child(5) .dashbar{
    display: none;
}


@media only screen and (max-width: 1000px) {
    .navigate-sec{
        display: flex;
        & > button {
          &:nth-of-type(2) {
            margin:auto;        
          }
          &:nth-of-type(3) {
            margin-left:auto;
          }
        }
    }
}
@media only screen and (max-width: 768px) {
    .mix-toggleBtnGroup td{display: block;}
    .toggleBtnGroup td{display: block;}
    .toggleBtnGroupPage2 td{display: block;}
    .toggleBtnGroupPage2 td:nth-child(1){
        width: 100%;
    }
    .progressbar{
        width: 100%;
    }
}

@media only screen and (max-width: 568px) {
    .contentArea{ display: block;}
    .contentArea .leftContent{ width: 100%;}
    .contentArea .rightContent{ width: 100%; margin-left: 0px; padding-top: 40px;}
    .contentArea .titleTxt{
        font-size: 18pt;
        margin-bottom: 20px;
        
    }
    .multipleSelectCont td{
    display: block;
        
    }
       
    .contentArea .alignRight{
        text-align: left;
    }
    
    .mat-button-toggle-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    }
    .progressbar .progressTxt{
        width: 25%;
    }
    .progressbar .barCont{
        width: 75%;
    }
    .toggleBtnGroupPage2 .mat-button-toggle{
       margin-right:40px;
    }
    .toggleBtnGroupPage2 .checkBoxAssesment{
        margin-bottom: 20px;
    }
    

}

